/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    position: relative;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: var(--accent-color);
      margin: 4px 10px;
    }
  }

  div {
    color: var(--heading-color);
    margin: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--heading-font);
  }
}

@import './sections/_hero.scss';
@import './sections/_promo-cards.scss';
@import './sections/_category-cards.scss';
@import './sections/_best-sellers.scss';
@import './sections/_product-list.scss';
@import './sections/_product-details.scss';
@import './sections/_category-header.scss';
@import './sections/_category-product-list.scss';
@import './sections/_category-pagination.scss';
@import './sections/_cart.scss';
@import './sections/_checkout.scss';
@import './sections/_order-confirmation.scss';
@import './sections/_search-results-header.scss';
@import './sections/_search-product-list.scss';
@import './sections/_account.scss';
@import './sections/_login.scss';
@import './sections/_register.scss';
@import './sections/_about-2.scss';
@import './sections/_stats.scss';
@import './sections/_testimonials.scss';
@import './sections/_contact-2.scss';
@import './sections/_support.scss';
@import './sections/_faq.scss';
@import './sections/_blog-hero.scss';
@import './sections/_recent-posts.scss';
@import './sections/_blog-pagination.scss';
@import './sections/_blog-details.scss';
@import './sections/_blog-comments.scss';
@import './sections/_blog-comment-form.scss';
@import './sections/_terms-of-service.scss';
@import './sections/_privacy.scss';
@import './sections/_retun-policy.scss';
@import './sections/_paymnt-methods.scss';
@import './sections/_shipping-info.scss';
@import './sections/_error-404.scss';
@import './sections/_starter-section.scss';
@import './sections/_hero-2.scss';
@import './sections/_about.scss';
@import './sections/_promo-cards-2.scss';
@import './sections/_category-cards-2.scss';
@import './sections/_category-cards-3.scss';
@import './sections/_best-sellers-2.scss';
@import './sections/_product-list-2.scss';
@import './sections/_call-to-action.scss';
@import './sections/_heroundefined.scss';
@import './sections/_about-3.scss';
@import './sections/_promo-cardsundefined.scss';
@import './sections/_category-cardsundefined.scss';
@import './sections/_category-cardsundefined-2.scss';
@import './sections/_best-sellersundefined.scss';
@import './sections/_product-listundefined.scss';
@import './sections/_call-to-action-2.scss';